$white: #fff;
$light-gray: #fdfbff;
$blue: #23232b;
$black: #000;
$gray: #e1dee2;
$dark-gray: #cecbcf;
$main-blue: #3a68f1;
$main-darkblue: #325ddd;
.blue-text {
  color: $main-blue;
}
.blue-bg {
  background-color: $main-blue;
}
