.filter-wrapper {
  margin-top: 3.5rem;
  .head {
    margin-bottom: 2rem;
    font-weight: bold;
  }
  .filter-items {
    .item {
      display: flex;
      align-items: center;
      margin-top: 0.7rem;
    }
    &.price {
      .item {
        .input-box {
          margin: 0;
          width: auto;
          height: 2rem;
          margin-right: 2rem;
        }
      }
    }
  }
}
