.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}
.header-wrapper {
  margin-top: 2rem;
  .header {
    padding: 1rem 3rem;
    z-index: 10;
    position: fixed;
    width: 95%;
    margin-top: 2rem;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-inner-wrapper {
      height: 100%;
      width: 100%;
    }
    .category-item {
      margin-left: 3rem;
      cursor: pointer;
    }
    .main {
      display: flex;
      align-items: center;
      a {
        color: $black;
      }
      .back-wrapper {
        position: relative;
        z-index: 15;
        cursor: pointer;
        &:hover {
          svg {
            transform: translateX(-1rem);
          }
        }
      }

      svg {
        transition: all 0.3s ease;
        margin-right: 1.2rem;
      }
    }
    .right-side-wrapper {
      position: relative;
      z-index: 15;
      .search-box {
        position: relative;
        height: 4.5rem;
        svg {
          position: absolute;
          top: 50%;
          right: 0;

          transform: translateY(-50%);
        }
        .result {
          position: absolute;
          width: 100%;
          background: #fff;
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
          padding: 15px 10px;
          z-index: 100;
          .item {
            a {
              color: $black;
              font-size: 0.9em;
            }
          }
        }
        input {
          border: none;
          outline: none;
          width: 30rem;
          height: 100%;
          padding-right: 30px;
          background-color: transparent;
          font-size: 0.8em;
          color: $black;
          border-bottom: 1px solid $gray;
          transition: all 0.3s ease;
          &:focus {
            border-color: $black;
          }
          &::placeholder {
            font-weight: bold;
            color: $black;
            opacity: 0.7;
          }
        }
      }

      .account {
        text-transform: uppercase;
        margin-left: 5rem;
        transition: all 0.3s ease;
        font-size: 0.9em;
        &.underline {
          text-decoration: underline;
        }

        &:hover {
          a {
            color: $main-blue;
          }
          color: $main-blue;
        }
        cursor: pointer;
        a {
          transition: all 0.3s ease;
          color: $black;
        }
      }
    }
  }
}
