.flex {
  display: flex;
  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
